.cta {
  padding: 100px;
  background-color: #5bb471;
  color: #fff;
  text-align: center;
}

.cta__title {
  font-size: 24px;
  font-weight: 400;
}

.cta__description {
  margin: 15px 0;
  color: #dbdbdb;
}

.cta__button {
  border: none;
  padding: 10px 20px;

  &:hover {
    background-color: #d0d0d0;
    cursor: pointer;
  }
}
