.feature {
  display: flex;
  gap: 20px;
  padding: 100px;
}

.feature__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-basis: 50%;
}

.feature__title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #23c93c;
  margin-bottom: 5px;
}

.feature__title--selected {
  text-decoration: underline;
}

.feature__image {
  flex-basis: 50%;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
