.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;

  background-image: url("./assets/images/hero.jpg");
  background-color: rgba(0, 0, 0, 0.55);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  & .hero__title {
    color: #f5f5f5;
  }

  & .hero__description {
    color: #81da76;

    & .hero__highlight {
      color: #dbfbe0;
    }
  }
}
