.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  align-items: center;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  text-decoration: none;
}

.nav__link {
  text-decoration: none;
  color: #333;

  &:hover {
    color: #34c759;
  }
}
