.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  gap: 20px;
}

.video__title {
  font-size: 32px;
  font-weight: 500;
}

.video__description {
  color: #6e6e6e;
  font-weight: 400;
  text-align: center;
}

.video__button {
  padding: 10px 20px;
  margin-left: 15px;
  border: 1px solid #5bb471;
  background: none;
  color: #5bb471;

  &:hover {
    background-color: #5bb471;
    color: #fff;
    cursor: pointer;
  }
}

.video__container {
  margin-top: 10px;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 1px 2px 10px 3px rgba(0, 0, 0, 0.33);

  background-image: url("/assets/images/video.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}
